body{
  background-image: url('../public/assets/bg/2.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bolder;
  -webkit-transition: background-image 0.2s ease-out;
  transition: background-image  0.2s ease-out;
}


.Container{
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  width: 700px;
  opacity: 65%;
  top:0;
  right: 0;
  left:0;
  bottom: 0;
  margin: auto;
}
.Quote{
  background-color: black;
  border-radius: 10px;
  width:700px;
  height: fit-content;

  color: whitesmoke;
  padding: 10px;
  text-align: justify;
  text-justify: inter-word;
  font-size: x-large;
  font-weight: 1000;
  font-family: 'Poppins', sans-serif;
}

.By{
  position: relative;
  background-color: black;
  border-radius: 10px;
  width:120px;
  height: fit-content;
  color: white;
  padding: 10px;
  left: 290px;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  font-size: larger;
}

.next{
  position: absolute;
  width: 100px;
  height: 100px;
  left:1000px;
  right:0;
  bottom:0;
  top:0;
  margin:auto;
}



.prev{
  position: absolute;
  width: 100px;
  height: 100px;
  left:0px;
  right:1000px;
  bottom:0;
  top:0;
  margin:auto;
}

.next:hover,.prev:hover{
  cursor: pointer;
  filter: drop-shadow(3px 3px 3px rgb(0, 0, 0));
}